* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: #fff;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

a:hover {
  color: rgb(0, 63, 158);
}

/*HEADER*/

header {
  position: relative;
  padding: 0 2rem;
  border: 1px solid black;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
/* DROPDOWN MENU */

.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li a {
  color: white;
}

/* MAIN BODY STYLING  */
.main-grid {
  height: 100%;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.sidenav {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 12;

  padding: 16px;
  border: 1px solid black;
}

.sidenav ol {
  padding: 16px;
}

.container {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 12;

  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
}

.image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;

  background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg);
}

.text-wrapper {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 6;

  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1rem;
}

.text-wrapper a {
  color: blue;
}

/* FOOTER STYLING */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 24px 24px;
  color: white;
  background-color: rgb(82, 82, 82);
}
/* RESPONSIVE DESIGN FOR NAVIGATION */

@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }

  .sidenav {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 13;
  }

  .container {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 10;
  }
}

@media (max-width: 630px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }

  .sidenav {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 13;

    background-color: white;
    z-index: 1;
  }

  .container {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-end: 9;
  }
  .image {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;

    background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg);
  }

  .text-wrapper {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;

    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
